<div class="row" id="yearSelect">
	<div class="col-sm-2 col-sm-offset-10">
		<select>
			<%= options_for_select(@years) %>
		</select>
	</div>
</div>

<div id="byYearChart"></div>

<%= javascript_tag do %>
  fetchByYear("2014");
  $(function(){
    $('select').change( function() {
      fetchByYear($('option:selected',this).val());
    });
  });
<% end %>